@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

html,body{

  height: 100%;
  padding: 0;
  margin: 0;

}

body{
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;   
}

header, footer{
  color: white;
  font-size: 2em;
  background-color: #6a1b9a ;
} 

main{
  scroll-snap-type: y mandatory;
  grid-gap: 4px;
  background-color: gainsboro;
  max-width: 100%;
}

div{
  padding-left: 30px
}

body{
  background-color: #FFFFFF;
}

.button{
    display: none;
    background-color: #6a1b9a ;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}